@model KerryExample.Entity.ModelView

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bạn có chắc muốn xóa loại sản phẩm này?</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-5">
            @Model.catgory.CatId
        </dt>
        <dd class="col-sm-5">
            @Model.catgory.Name
        </dd>
    </dl>
    <form asp-controller="Category" asp-action="Delete">
        <input type="hidden" asp-for=@Model.catgory.CatId />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về</a>
    </form>
</div>