@model KerryExample.Entity.ModelView
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chỉnh sửa thông tin cà phê</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Product" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="product.Id"/>
            <div class="form-group">
                <label asp-for="product.Name" class="control-label"></label>
                <input asp-for="product.Name" class="form-control"/>
                <span asp-validation-for="product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product.Desc" class="control-label"></label>
                <input asp-for="product.Desc" class="form-control"/>
                <span asp-validation-for="product.Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product.Quantity" class="control-label"></label>
                <input asp-for="product.Quantity" class="form-control"/>
                <span asp-validation-for="product.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product.Status" class="control-label"></label>
                <input asp-for="product.Status" class="form-control"/>
                <span asp-validation-for="product.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product.Img" class="control-label"></label>
                <input asp-for="product.Img" class="form-control"/>
                <span asp-validation-for="product.Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product.Price" class="control-label"></label>
                <input asp-for="product.Price" class="form-control"/>
                <span asp-validation-for="product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product.CatgoryRefId" class="control-label"></label>
                <select asp-for="product.CatgoryRefId" class="form-control">
                    @foreach (var item in Model.catgories)
                    {
                        <option value="@item.CatId">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="product.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}